Source: nvmr-display
Section: unknown
Priority: optional
Maintainer: Robert Middleton <robert.middleton@rm5248.com>
Build-Depends: debhelper (>= 11),
               libgstreamer-plugins-base1.0-dev,
               libgstreamer1.0-dev,
               liblog4cxx-dev,
               qt5-default,
               qtdeclarative5-dev,
               qtwebengine5-dev
Standards-Version: 4.1.3
Homepage: <insert the upstream URL, if relevant>

Package: nvmr-display
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Display for NVMR
 Display program for NVMR to display cameras and webpages
 from JMRI
